body{
    background-image: linear-gradient(to bottom, #020a17, #0c1421, #111c2b, #172336, #1c2b41, #1c2b40, #1b2b40, #1b2b3f, #162332, #111b26, #0a131a, #00060d);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}
#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1rem;
}
h2:hover{
    text-shadow: 0px 3px 30px rgb(78, 79, 155);
}
#titulo{
    color:#fff;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#allGames{
    color:#fff;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#home{
    color: #1d68d1;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#voltar1{
    color:#fff;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#biblioteca{
    color: #1d68d1;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#addGame{
    color:#fff;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#adicionar{
    color: #1d68d1;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 40px;
}
#imgStatic{
   margin: 25px;
   text-align: center;
   padding-left: 10rem;
}
#imgStatic svg{
    height: auto;
}

#biblio{
    color: #1d68d1;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

#newGame{
    color: #1d68d1;
    font: Poppins-Regular, Poppins;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}